# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
node_modules/.pnpm
dist/
.vinxi
.output
.vercel
.netlify
.wrangler

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Env
.env
src/routeTree.gen.ts
