@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@font-face {
	font-family: "Playfair Display";
	font-display: swap;
	src: url("/fonts/playfair-display/PlayfairDisplay-Regular.ttf");
}

@font-face {
	font-family: "Playfair Display Black";
	font-display: swap;
	src: url("/fonts/playfair-display/PlayfairDisplay-Black.ttf");
}

@font-face {
	font-family: "Poppins";
	font-display: swap;
	src: url("/fonts/poppins/Poppins-Regular.ttf");
}

:root {
	--background: hsl(167 43% 96%);
	--foreground: hsl(166 42% 6%);
	--card: hsl(0 0% 100%);
	--card-foreground: hsl(166 42% 6%);
	--popover: hsl(0 0% 100%);
	--popover-foreground: hsl(222.2 84% 4.9%);
	--primary: hsl(167 43% 55%);
	--primary-foreground: hsl(167 43% 96%);
	--secondary: hsl(216 43% 72%);
	--secondary-foreground: hsl(166 42% 6%);
	--muted: hsl(210 40% 96.1%);
	--muted-foreground: hsl(215.4 16.3% 46.9%);
	--accent: hsl(230 43% 61%);
	--accent-foreground: hsl(166 42% 6%);
	--neutral: hsl(248 8% 48%);
	--destructive: hsl(0 69% 67%);
	--destructive-foreground: hsl(166 42% 6%);
	--border: hsl(214.3 31.8% 91.4%);
	--input: hsl(214.3 31.8% 91.4%);
	--input-background: hsl(215 44% 92%);
	--ring: hsl(222.2 84% 4.9%);
	--chart-1: hsl(12 76% 61%);
	--chart-2: hsl(173 58% 39%);
	--chart-3: hsl(197 37% 24%);
	--chart-4: hsl(43 74% 66%);
	--chart-5: hsl(27 87% 67%);
	--radius: 0.6rem;
}

.dark {
	--background: hsl(222.2 84% 4.9%);
	--foreground: hsl(210 40% 98%);
	--card: hsl(222.2 84% 4.9%);
	--card-foreground: hsl(210 40% 98%);
	--popover: hsl(222.2 84% 4.9%);
	--popover-foreground: hsl(210 40% 98%);
	--primary: hsl(210 40% 98%);
	--primary-foreground: hsl(222.2 47.4% 11.2%);
	--secondary: hsl(217.2 32.6% 17.5%);
	--secondary-foreground: hsl(210 40% 98%);
	--neutral: hsl(248 8% 88%);
	--muted: hsl(217.2 32.6% 17.5%);
	--muted-foreground: hsl(215 20.2% 65.1%);
	--accent: hsl(217.2 32.6% 17.5%);
	--accent-foreground: hsl(210 40% 98%);
	--destructive: hsl(0 62.8% 30.6%);
	--destructive-foreground: hsl(210 40% 98%);
	--border: hsl(217.2 32.6% 17.5%);
	--input: hsl(217.2 32.6% 17.5%);
	--input-background: hsl(215 44% 92%);
	--ring: hsl(212.7 26.8% 83.9%);
	--chart-1: hsl(220 70% 50%);
	--chart-2: hsl(160 60% 45%);
	--chart-3: hsl(30 80% 55%);
	--chart-4: hsl(280 65% 60%);
	--chart-5: hsl(340 75% 55%);
}

@theme inline {
	--font-playfair-display: "Playfair Display";
	--font-playfair-display-black: "Playfair Display Black";
	--font-poppins: "Poppins";

	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-neutral: var(--neutral);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-input-background: var(--input-background);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
		font-family: "Poppins", sans-serif;
	}
}

app-home,
ion-content {
	background: none;
	--background: none;
}

ion-content {
	--background: transparent;
}

body {
	background: #f0f9f7;
}

capacitor-google-map {
	display: inline-block;
	width: 275px;
	height: 400px;
}
